
:root {
  --main-bg: #515a8d;
  --top-menu-bg: #00000081;
  --sub-menu-bg: #d6d5cb;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif, Geneva, sans-serif;
  background-color: var(--sub-menu-bg);
  margin: 0;
  display: grid;
  grid-template-rows: 3rem auto;
  color: white;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

#top-menu a:hover {
  background-color: var(--sub-menu-bg);
}

header,
#top-menu {
  position: relative;
  z-index: 20;
}

nav a.active {
  background-color: var(--sub-menu-bg);
  color: var(--main-bg);
}

#main{
  height:100px;
}

/*Form*/

#formDiv
{
  background-color: var(--sub-menu-bg);
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

input,
select {
  width: 200px;
  padding: 3px 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  right:-100px;
  width: 50%;
}

p{
  color:black;
}